.content-body-shell {
    width: 1440px;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1441px) {
    .content-body-shell {
        width: 100%;
    }
}

@media (max-width: 769px) {
    .content-body-shell {
        flex-direction: column;
    }
}