.chapter-navigate-shell {
    min-width: 306px;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    position: sticky;
    top: 82px;
    height: calc(100vh - 86px);
    overflow: auto;
    direction: rtl;
}

.chapter-navigate-shell h1,
.chapter-navigate-shell h2 {
    color: white;
}

.chapter-navigate-shell h1,
.chapter-navigate-shell h2,
.chapter-navigate-shell h3 {
    direction: ltr;
}

.chapter-navigate-shell h1 {
    padding: 5px 0 5px 3px;
    margin-bottom: 5px;
    border-bottom: 2px solid gray;
}

a.lower-heading, h1.lower-heading {
    margin-top: 15px;
}

.chapter-navigate-shell .fa-lock {
    margin-right: 5px;
}

.chapter-navigate-shell h2.disabled-route {
    pointer-events: none;
    color: rgb(163, 163, 163)
}

.chapter-navigate-shell h2 {
    padding: 5px 5px 5px 15px;
}

.chapter-navigate-shell h3 {
    color: gray;
    border-bottom: 2px solid #222;
    margin: 3px 0 5px;
    padding: 5px 5px 5px 5px;
    letter-spacing: 2px;
    font-family: 'HamletOrNot';
    font-size: 18px;
}

.chapter-navigate-shell h2:hover,
.chapter-navigate-shell a:hover h1,
.chapter-navigate-shell a:hover h3 {
    color: #b45f06
}

.active-route h2 {
    border-left: 2px solid #b45f06;
    background: #b45f0650
}

.chapter-hamburger-menu {
    display: none;
}

.chapter-hamburger-menu i {
    color: white;
    font-size: 40px;
}

@media (max-width: 769px) {
    .chapter-hamburger-menu {
        display: unset;
        padding: 25px;
        height: 10px;
        border-bottom: 1px solid gray;
        margin: -15px 0 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .chapter-navigate-shell {
        position: absolute;
        top: 0;
        height: 100vh;
    }

    .chapter-navigate-shell {
        position: unset;
    }

    .chapter-navigate-shell.closed {
        display: none;
    }
}